In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')

In [3]:
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
data.shape

(1030, 9)

In [5]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [9]:
data_columns = data.columns

In [10]:
predictors = data[data_columns[data_columns != 'Strength']]

In [11]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [14]:
target = data['Strength']

In [15]:
pre_norms = (predictors - predictors.mean()/predictors.std())

In [16]:
pre_norms.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,537.309562,-0.856472,-0.846733,153.497358,1.461362,1027.48721,666.351468,27.277154
1,537.309562,-0.856472,-0.846733,153.497358,1.461362,1042.48721,666.351468,27.277154
2,329.809562,141.643528,-0.846733,219.497358,-1.038638,919.48721,584.351468,269.277154
3,329.809562,141.643528,-0.846733,219.497358,-1.038638,919.48721,584.351468,364.277154
4,195.909562,131.543528,-0.846733,183.497358,-1.038638,965.88721,815.851468,359.277154

In [17]:
n_cols = pre_norms.shape[1]

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [20]:
def regression():
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    
    model.compile(optimizer ='adam', loss='mean_squared_error')
    return model

In [22]:
model = regression()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [24]:
model.fit(pre_norms,target, validation_split=.3, epochs=100, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 25721.8713 - val_loss: 5986.7181
Epoch 2/100
 - 0s - loss: 1918.5785 - val_loss: 435.5352
Epoch 3/100
 - 0s - loss: 447.9869 - val_loss: 408.1576
Epoch 4/100
 - 0s - loss: 276.6655 - val_loss: 207.8939
Epoch 5/100
 - 0s - loss: 247.4564 - val_loss: 214.6166
Epoch 6/100
 - 0s - loss: 232.9633 - val_loss: 241.7941
Epoch 7/100
 - 0s - loss: 222.5915 - val_loss: 181.1402
Epoch 8/100
 - 0s - loss: 211.8159 - val_loss: 188.7803
Epoch 9/100
 - 0s - loss: 202.1946 - val_loss: 183.0526
Epoch 10/100
 - 0s - loss: 196.9594 - val_loss: 152.5272
Epoch 11/100
 - 5s - loss: 188.1676 - val_loss: 158.6157
Epoch 12/100
 - 0s - loss: 178.5874 - val_loss: 168.1230
Epoch 13/100
 - 0s - loss: 173.2587 - val_loss: 153.6674
Epoch 14/100
 - 0s - loss: 172.9817 - val_loss: 172.9202
Epoch 15/100
 - 0s - loss: 167.4229 - val_loss: 161.1147
Epoch 16/100
 - 0s - loss: 158.0993 - val_loss: 142.9903
Epoch 17/100
 - 0s - loss: 150.4984 - val_loss: 144.1124
Epoch 18/100
 - 0s - loss: 146.2966 - val_loss: 154.9585
Epoch 19/100
 - 0s - loss: 139.4420 - val_loss: 163.3098
Epoch 20/100
 - 0s - loss: 136.2011 - val_loss: 174.8748
Epoch 21/100
 - 0s - loss: 133.2578 - val_loss: 141.3061
Epoch 22/100
 - 0s - loss: 128.8353 - val_loss: 147.0400
Epoch 23/100
 - 0s - loss: 126.1972 - val_loss: 152.6958
Epoch 24/100
 - 0s - loss: 120.8719 - val_loss: 134.1361
Epoch 25/100
 - 0s - loss: 120.2295 - val_loss: 129.5064
Epoch 26/100
 - 0s - loss: 118.9033 - val_loss: 134.7569
Epoch 27/100
 - 0s - loss: 115.2064 - val_loss: 142.3631
Epoch 28/100
 - 0s - loss: 112.0304 - val_loss: 138.1047
Epoch 29/100
 - 0s - loss: 111.7827 - val_loss: 139.0325
Epoch 30/100
 - 0s - loss: 108.7523 - val_loss: 146.7445
Epoch 31/100
 - 0s - loss: 107.0093 - val_loss: 133.2455
Epoch 32/100
 - 0s - loss: 104.2168 - val_loss: 129.0527
Epoch 33/100
 - 0s - loss: 104.7414 - val_loss: 132.4313
Epoch 34/100
 - 0s - loss: 100.4986 - val_loss: 115.1847
Epoch 35/100
 - 0s - loss: 99.1216 - val_loss: 120.3526
Epoch 36/100
 - 0s - loss: 97.1517 - val_loss: 114.8136
Epoch 37/100
 - 1s - loss: 97.9072 - val_loss: 129.1418
Epoch 38/100
 - 0s - loss: 96.8110 - val_loss: 106.6793
Epoch 39/100
 - 0s - loss: 91.8978 - val_loss: 112.6236
Epoch 40/100
 - 0s - loss: 91.5008 - val_loss: 103.8536
Epoch 41/100
 - 0s - loss: 90.2438 - val_loss: 112.4697
Epoch 42/100
 - 0s - loss: 89.8055 - val_loss: 118.2368
Epoch 43/100
 - 0s - loss: 88.0807 - val_loss: 110.2273
Epoch 44/100
 - 0s - loss: 85.2827 - val_loss: 102.4733
Epoch 45/100
 - 0s - loss: 84.9158 - val_loss: 103.8212
Epoch 46/100
 - 0s - loss: 85.7349 - val_loss: 110.7258
Epoch 47/100
 - 0s - loss: 82.5229 - val_loss: 94.7719
Epoch 48/100
 - 0s - loss: 80.8194 - val_loss: 111.7364
Epoch 49/100
 - 0s - loss: 79.2192 - val_loss: 92.8752
Epoch 50/100
 - 0s - loss: 82.6090 - val_loss: 118.7007
Epoch 51/100
 - 0s - loss: 79.1638 - val_loss: 95.8331
Epoch 52/100
 - 4s - loss: 76.0006 - val_loss: 106.9991
Epoch 53/100
 - 0s - loss: 73.5133 - val_loss: 104.3403
Epoch 54/100
 - 0s - loss: 73.9660 - val_loss: 92.9406
Epoch 55/100
 - 3s - loss: 71.9585 - val_loss: 87.1005
Epoch 56/100
 - 0s - loss: 70.4305 - val_loss: 110.2551
Epoch 57/100
 - 0s - loss: 69.7976 - val_loss: 89.4651
Epoch 58/100
 - 0s - loss: 69.5730 - val_loss: 95.5313
Epoch 59/100
 - 0s - loss: 70.2269 - val_loss: 119.3723
Epoch 60/100
 - 0s - loss: 69.4239 - val_loss: 77.1747
Epoch 61/100
 - 0s - loss: 65.2193 - val_loss: 92.4978
Epoch 62/100
 - 0s - loss: 65.2810 - val_loss: 75.8728
Epoch 63/100
 - 0s - loss: 63.6973 - val_loss: 80.3616
Epoch 64/100
 - 0s - loss: 64.8984 - val_loss: 100.3002
Epoch 65/100
 - 0s - loss: 63.7084 - val_loss: 101.3094
Epoch 66/100
 - 0s - loss: 66.0358 - val_loss: 104.5258
Epoch 67/100
 - 0s - loss: 67.6459 - val_loss: 86.0319
Epoch 68/100
 - 0s - loss: 64.9995 - val_loss: 88.9665
Epoch 69/100
 - 0s - loss: 61.6032 - val_loss: 73.6961
Epoch 70/100
 - 0s - loss: 59.9741 - val_loss: 82.9199
Epoch 71/100
 - 0s - loss: 58.6193 - val_loss: 76.2243
Epoch 72/100
 - 0s - loss: 57.8761 - val_loss: 79.7342
Epoch 73/100
 - 0s - loss: 57.1239 - val_loss: 79.1185
Epoch 74/100
 - 0s - loss: 56.4313 - val_loss: 74.6128
Epoch 75/100
 - 0s - loss: 54.8403 - val_loss: 84.3868
Epoch 76/100
 - 0s - loss: 56.5738 - val_loss: 107.9542
Epoch 77/100
 - 0s - loss: 55.5974 - val_loss: 80.4702
Epoch 78/100
 - 0s - loss: 52.4643 - val_loss: 77.9895
Epoch 79/100
 - 0s - loss: 52.7640 - val_loss: 82.7574
Epoch 80/100
 - 0s - loss: 51.7954 - val_loss: 97.0615
Epoch 81/100
 - 0s - loss: 53.7800 - val_loss: 105.2298
Epoch 82/100
 - 0s - loss: 54.0963 - val_loss: 73.6464
Epoch 83/100
 - 0s - loss: 50.5665 - val_loss: 85.7035
Epoch 84/100
 - 0s - loss: 50.3327 - val_loss: 68.6363
Epoch 85/100
 - 0s - loss: 49.5989 - val_loss: 88.9930
Epoch 86/100
 - 0s - loss: 47.6238 - val_loss: 88.8621
Epoch 87/100
 - 0s - loss: 48.1436 - val_loss: 107.6573
Epoch 88/100
 - 0s - loss: 48.3638 - val_loss: 74.7253
Epoch 89/100
 - 0s - loss: 46.6214 - val_loss: 69.0241
Epoch 90/100
 - 0s - loss: 49.2547 - val_loss: 76.1029
Epoch 91/100
 - 5s - loss: 47.2953 - val_loss: 67.3149
Epoch 92/100
 - 3s - loss: 48.5255 - val_loss: 77.3090
Epoch 93/100
 - 0s - loss: 46.1081 - val_loss: 60.7212
Epoch 94/100
 - 0s - loss: 46.3317 - val_loss: 73.2009
Epoch 95/100
 - 0s - loss: 45.7053 - val_loss: 102.0980
Epoch 96/100
 - 0s - loss: 43.9144 - val_loss: 69.7378
Epoch 97/100
 - 0s - loss: 47.1325 - val_loss: 78.1039
Epoch 98/100
 - 0s - loss: 43.3265 - val_loss: 84.5464
Epoch 99/100
 - 0s - loss: 44.5778 - val_loss: 68.3788
Epoch 100/100
 - 0s - loss: 42.1920 - val_loss: 81.9214